
@{
    ViewBag.Title = "CookiePolicy";
}
<div class="container">
    <br />
    <h3>Çerez Politikası Nedir ?</h3><br />
    <p>
        Çerez, bir internet sitesini ziyaret ettiğinizde bilgisayarınızda ya da mobil cihazınızda depolanan küçük metin dosyalarıdır. Bu dosyalarda IP adresiniz, oturum bilgileriniz, eriştiğiniz sayfalar vb. veriler saklanır. Çerezler sayesinde internet sitesi tercihleriniz hatırlanabilir, oturumunuzun açık tutulması sağlanabilir ya da size ilgilendiğiniz içerik sunulabilir.Çerezler mobil cihazlarda depolanma süreleri ve kimin tarafından yerleştirildikleri gibi kriterlere göre farklı türlere ayrılmaktadır. Bu bağlamda çerez türleri Kalıcı Çerezler, Oturum Çerezleri, Birinci Taraf Çerezleri ve Üçüncü Taraf Çerezler olarak sıralanabilir.
    </p>
    <br />
    <h3>Çerez Politikasının Amacı</h3><br />
    <p>
        Çerez Politikası internet sitesi kullanıcılarını çerezlere ve kullanılan çerez türlerine ilişkin olarak bilgilendirmek ve çerez tercihlerinin nasıl yönetilebileceği konusunda yol göstermek amacıyla hazırlanmıştır.
        Birçok internet sitesinde olduğu gibi internet sitesi kullanıcılarının ziyaret deneyimlerini iyileştirmek ve hizmet kalitesini artırmak amacıyla çerez vb. teknolojiler kullanmaktadır.
    </p>
    <br />
    <h3>Sitemizde Kullanılan Çerezler</h3><br />
    <p>
        İnternet sitemizde sizlere hizmet verebilmek amacıyla farklı çerezler kullanılabilmektedir. Her şekilde kullanılan çerezlerin Gizlilik Politikasına ve Kişisel Verilerin Korunması Kanunu hükümlerine uygun olduğunu belirtmek isteriz. Bu bağlamda sitemizde kullanılan çerezler aşağıdaki gibidir. *İşlevsellik Çerezleri : İnternet sitesini tekrar ziyaret ettiğinizde dil tercihlerinizin, bölge seçiminizin vb. hatırlanmasına olanak sağlar. *Hedefleme/Reklam Çerezleri : Casa internet sitesinde hedefleme ve reklam amacıyla farklı birinci taraf ve üçüncü taraf çerezler kullanmaktadır. Bu çerezleri tarayıcınızın ayarlarını değiştirerek ya da bu Politika’da gösterildiği şekilde çerez tercihlerini değiştirerek engellemeniz mümkündür.
    </p>
    <p>
        Zorunlu Çerezler : İnternet sitesinin doğru bir şekilde çalışmasını sağlayan ve özelliklerini kullanmanıza imkân veren teknik çerezlerdir. Oturum çerezi kategorisinde yer alırlar. Bu çerezlerin engellenmesi halinde internet sitesi özelliklerinin kullanılamaması sonucu doğar. Zorunlu çerezlerin kullanımı için onayınız gerekmemektedir.*Analitik Çerezler : İnternet sitesi deneyiminizi iyileştirmek amacıyla analitik çerezler kullanılır. Analitik çerezler, internet sitesini nasıl kullandığınızı (örn; hangi sayfaları ziyaret ettiğini, ziyaret süresini vb.) anlamanızı sağlar. Sunduğumuz içerikleri geliştirebilir ya da internet sitesi tasarımını değiştirebilirsiniz.
    </p>

</div><br />