@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="icon" type="image/png" href="/Content/adminlogin/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/adminlogin/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminlogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminlogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminlogin/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminlogin/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminlogin/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminlogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminlogin/css/main.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Admin/Content/adminlogin/images/img-01.jpg');">
            <div class="wrap-login100 p-t-190 p-b-30">
        
                    <div class="login100-form-avatar">
                        <img src="~/Content/images/admin.png" alt="AVATAR">
                    </div>
                    <span class="login100-form-title p-t-20 p-b-45">
                        Şifremi Unuttum
                    </span>
                    @{
                        if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                        }
                    }
            @using (Html.BeginForm("ResetPasswordMail", "Admin"))
            {
                <div class="wrap-input100 validate-input m-b-10" data-validate="Email is required">
                    @*<input class="input100" type="text" name="username" placeholder="Username">*@
                    @Html.TextBox("Email", null, new {@class = "input100", placeholder = "Email adresinizi girin."})
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>


                <div class="wrap-input100 validate-input m-b-10" data-validate="Recaptcha is required">
                    <div class="g-recaptcha" data-sitekey="6LcfNAEVAAAAAIuOBpzCOLkUfHGpQEVsLbPWBo6e"></div>
                    @{
                        if (@TempData["Status"] != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>Hey dostum!</strong>Robot olup olmadığını anlamamız için testi geçmelisin.
                            </div>
                        }
                    }
                </div>
                <br/>
                <p>**Şifrenizi sıfırlamanız için e-mailinize bir kod göndereceğiz.Bir sonraki aşamada sizden gelen kodu girmenizi isteyeceğiz.</p> <br/>
                <div class="container-login100-form-btn p-t-10">
                    <input type="submit" value="Şifremi Sıfırla" class="login100-form-btn"/>
                </div>
                
            }
            </div>
        </div>
    </div>

    @*script*@
    <script src="~/Content/adminlogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/adminlogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/adminlogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/adminlogin/vendor/select2/select2.min.js"></script>
    <script src="~/Content/adminlogin/js/main.js"></script>
</body>
</html>
